body {
	background-color: #f4f7f9;
	cursor: default;
}

.content {
	padding-bottom: 100px;
}
.logo {
	height: 283px;
	color: white;
}

.big_logo_text {
	width: 435px;
	padding-left: 59px;
	background-repeat: no-repeat;
	color: white;
	font-size: 43px;

}
.wrap_logo_text {
	position: absolute;
	bottom: 50px;
	width: 495px;
	height: 103px;
	right: 68px;
	background-image: url(images/bg_text.png);
	background-repeat: no-repeat;
	color: white;
}

.main_menu {
	position: relative;
	max-width: 998px;
	min-width: 960px;
	margin: 0 auto;
	padding-left: 1.5em;
}
.big_logo {
	position: absolute;
	left: 28px;
}
.bmw_logo {
	display: block;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 20px;
}

.bg_links {
	position: absolute;
	width: 800px;
	height: 285px;
	background-image: url(images/uwc_bg.png);
	background-repeat: no-repeat;
	right: 0;
	bottom: -60px;
}

.enter {
	font-size: 13px;
	width: 194px;
	line-height: 1.2;
}
.enter ul {
	padding: 0;
}
.enter_links li {
	display: inline-block;
	padding: 0;

}

.enter a {
		display: inline-table;
		text-align: center;
		text-decoration: none;
		border-bottom: 1px dashed #7b868e;
		color: #7b868e;
		font-weight:bold;
	}

.enter span {
		display: table-cell;
		vertical-align: middle;
	}

.link_section {
	width: 684px; /*recalculate*/
}

.link_section a {
		font-size: 19px;
		width: 100px;
		height: 57px;
		display: inline-table;
		text-decoration: none;
		text-align: center;
		color: #7b868e;
	}

.link_section a:hover {
			color: red;
			text-decoration: underline;
		}


.link_section a:active {
			color: #000000;
			border-bottom: 3px solid #7fd0ff;
		}

.link_section span {
		display: table-cell;
		vertical-align: middle;
	}

.wrap_links {
	width: 998px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	padding-left:2em;
	color: #d2d8dc;
}

.wrap_links div {
		display: inline-block;
	}






/*News
    --------------------------*/
.news {
	margin-top: 120px;
	float: left;
}

.news_wrapper {
	width: 960px;
	color: #4f4f4f;
	margin: 0 auto;
	position: relative;
}


.head_link {
	display: block;
	font-size: 28px;
	color: #5086e0;
	margin-bottom: 13px;
}

.left_side {
	width: 700px;
	background-color: white;
}

.wrap_left {
	width: 636px; /*700-(32+32)*/
	margin: 0 auto;
	padding: 34px;
}

.underlink {
	font-size: 11px;
	margin-bottom: 47px;
	color: #7b868e;
}

	.underlink a {
		color: #7b868e;
	}

.first_p {
	font-size: 13px;
	margin-bottom: 47px;
	line-height: 1.5;
}

.second_p {
	position: relative;
	font-size: 13px;
	margin-bottom: 47px;
}
.second_p div {
	display: inline-block;
}
.commas {
	position: absolute;
	top: -75px;
	font-size: 99px;
	font-family: Times New Roman;
	font-style: normal;
	color: #d5e8eb;
}

.vertical_line {
	margin-left: 50px;
	width: 3px;
	min-height: 100px;
	background-color: #d1e6e9;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}
.second_p_text {

}

.third_p {
	font-size: 13px;
	margin-bottom: 57px;
	line-height: 1.5;
}





/*table*/
.table_wrap {
	position: relative;
	margin-bottom: 57px;
}

.table {
	font-size: 13px;
	width: 376px;
	border-top: 2px solid #000000;
}

tr {
	border-bottom: 1px solid #e8edf0;
}

td {
	padding: 10px;
}

.last_row {
	border: none;
}





.list {
	width: 200px;
	margin-top: 0;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}

	.list li {
		margin-bottom: 12px;
	}






.fourth_p {
	font-size: 13px;
	margin-bottom: 57px;
	line-height: 1.5;
}

.fifth_p {
	font-size: 13px;
	margin-bottom: 57px;
	line-height: 1.5;
}









/*Gallery*/
 .gallery {
	 position: relative;
	height: 521px;
	padding-bottom: 20px;
	 overflow: hidden;
}
 .gallery img {
	position: absolute;
	left: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 463px;
	width: 638px;
 }

img.opaque{
	-moz-opacity: 1;
	opacity:1;
	filter: alpha(opacity=100);
	height: 463px;
	width: 638px;

}
.news_copyright {
	font-size: 11px;
}
.thumbs {
	position: relative;
	height: 198px;
	background-color: #f9f8e6;
}
.thumbs img {
	width: 120px;
	height: 86px;
	padding: 1px;
	cursor: pointer;
}



.thumbs_nav {
	position: absolute;
	top: 32px;
	left: 32px;
	background-color: #000000;
	border-radius: 5px;
	height: 134px;
	width: 636px;
	margin:  auto;
	overflow: hidden;
}
.wrap_carousel {
	position: relative;
}
.thumbs_nav ul {
	width: 10000px;
	padding: 0;
	margin-top: 26px;
	margin-left: 0px;
}
.thumbs_nav li{
	display: inline-block;
	margin-left: 20px;
}
.carousel a:hover {
	border-color: #219ff7;
}

.thumb_prev {
	position: absolute;
	width: 34px;
	height: 110px;
	left: 0;
	top: -15%;
	border-right: 1px solid #fffafa;
	background-color: #000000;
	opacity: 0.6;
}


.thumb_next {
	position: absolute;
	width: 34px;
	height: 110px;
	right: 0;
	top: -15%;
		border-left: 1px solid #fffafa;
	background-color: #000000;
	opacity: 0.6;
}
.left_arrow {
	display: block;
	width: 23px;
	height: 22px;
	background-image: url(images/thumbs_prev.png);
	margin-top: 55px;
	margin-bottom: 11px; 
}

.right_arrow {
	display: block;
	width: 23px;
	height: 22px;
	background-image: url(images/thumbs_next.png);
	margin-top: 55px;
	margin-bottom: 11px; 
}





/*Top news 
    ---------------------*/

.sidebar {
	margin-top: 120px;
	width: 240px;
	float: right;
}

.banner {

}

.banner_link {
		display: block;
		height: 400px;
		width: 240px;
		margin-bottom: 30px;
	}




.sidebar_read {
	position: relative;
	text-align: center;
	height: 36px;
	font-size: 15px;
	margin-bottom: 34px;
}

.sidebar_read a {
		display: inline-block;
		color: #9ca5ab;
		font-size: 15px;
		text-decoration: none;
		border-bottom: 1px dashed #7b868e;
	}


.read:link {
	position: absolute;
	left: 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.comments:link {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}




.decore_links {
	height: 36px;
	width: 110px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: #f4f7f9;
	display: inline-table;
	vertical-align: middle;
	text-align: center;
}

.read:visited {
	color: #000000;
}

	.read:visited .decore_links {
		color: #ffffff;
	}

.comments:visited {
	color: #000000;
}

	.comments:visited .decore_links {
		color: #ffffff;
	}






.sidebar a:hover {
	color: red;
}

.date_time {
	display: block;
	color: #7b868e;
	font-size: 10px;
	padding-top: 5px;
}

.sidebar_link {
	margin-bottom: 25px;
}

.sidebar_link a {
		font-size: 13px;
		color: #5086e0;
	}

.wrap_news_links {
	margin-bottom: 60px;
}

.counter {
	position: relative;
	display: inline-block;
	height: 1.4em; /*14*/
	width: auto;
	padding: 0 0.1em 0 0.7em;/*0 1 0 7*/
	margin-left: 15px;
	text-align: center;
	color: white;
	background: url(images/counter.png) left bottom no-repeat;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	line-height: 1.2em;/*14*/
}

.counter:after {
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	width: 0.6em;/*6*/
	height: 100%;
	background: url(images/counter.png) right top no-repeat;
}

.counter:before {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0.5em;/*5*/
	width: 0;
	height: 0;
	border-top: 0.5em solid #98b3c2;/*5*/
	border-right: 0.5em solid transparent;/*5*/
}




/*Links
    ----------------------------*/
.links {
}

.splitter {
	height: 3px;
	border: 1px solid #dfe4e8;
	margin-bottom: 25px;
}

.questions {
	margin-bottom: 70px;
}

	.questions h1 {
		padding-left: 10px;
		font-size: 19px;
		line-height: 1;
	}

	.questions p {
		padding-left: 10px;
		font-size: 13px;
	}

.label_section {
	display: table;
}

.label_wrap {
}

.label {
	padding-left: 10px;
	width: 240px;
	height: 50px;
	border-top: 1px dashed #d4dadf;
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
}

.input:hover {
	border: 1px solid #0b9bff;
}

.label:hover {
	color: #0b9bff;
}

.input {
	padding-left: 10px;
}

.label span {
	padding-left: 10px;
}

input[type=radio]:hover + label:before {
	background: #000000;
}






/*Tooltip for input radio*/
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

	[data-tooltip]:before,
	[data-tooltip]:after {
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		pointer-events: none;
	}

	[data-tooltip]:before {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-bottom: 5px;
		margin-left: -40px;
		padding: 7px;
		width: 79px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}

	[data-tooltip]:after {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-top: 5px solid hsla(0, 0%, 20%, 0.9);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}

	/* Show tooltip content on hover */
	[data-tooltip]:hover:before,
	[data-tooltip]:hover:after {
		visibility: visible;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}





.submit_answer {
	height: 70px;
	background-color: #edf3f6;
	text-align: center;
}

	.submit_answer button {
		width: 98px;
		height: 36px;
		background: linear-gradient(to bottom, #ffffff, #e6e9ec);
		/*Add the fallback !!!!*/
		border: 1px solid #d4dadf;
		border-radius: 5px;
		margin: 17px auto;
		cursor: default;
	}









.new_cars {
}

.photo_view {
	position: relative;
	height: 222px;
	margin-bottom: 10px;
}

	.photo_view h1 {
		font-size: 24px;
		line-height: 1;
		margin: 0;
		width: 150px;
		line-height: 1;
		color: #000000;
		font-weight: 500;
	}

.wrap_battons {
	position: relative;
	height: 26px;
	margin-bottom: 10px;
}

.nav_buttons {
	position: absolute;
	right: 0;
	top: 0;
}

.button_rigth {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: linear-gradient(to bottom, #ffffff, #e6e9ec);
	font-weight: bold;
	cursor: default;
}

.button_left {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-weight: bold;
	background: linear-gradient(to bottom, #ffffff, #e6e9ec);
	float: left;
	cursor: default;
}


.photo_view_img {
	margin-top: 10px;
}

.new_cars_link {
	margin-bottom: 34px;
}

	.new_cars_link a {
		font-size: 15px;
		color: #5086e0;
	}

.bold_link {
	font-size: 15px;
	color: #5086e0;
	font-weight: bold;
}










/*Footer section*/
.footer {
	height: 200px;
	border: 1px solid #000000;
	clear: both;
}
