.thumbsimg:hover {
	
}

.thumbs img:hover:before {
	content: "";
	opacity: 0;
	filter: alpha(opacity=0);
	background: url(images/shadow.png) right top no-repeat;
}


.thumbs img:hover:after {
	opacity: 1;
	filter: alpha(opacity=100);
}