body {

    background-color: #f4f7f9;
    cursor: default;
}


.big_logo {
    
	width: 998px;
	height: 283px;
    margin: 0 auto;
    background-image: url(i/uwc.png);
    background-repeat: no-repeat;
    color: white;
}

.enter {
    font-size: 13px;
    width: 194px;
}
.enter a {

    display: inline-table;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px dashed #7b868e;
    color: #7b868e;

}
.enter span {
    display: table-cell;
    vertical-align: middle;
}

.link_section {
        width: 684px;/*recalculate*/
}
.link_section a {
    font-size: 19px;
    width: 100px;
    height: 57px;

    display: inline-table;
    text-decoration: none;
    text-align: center;
    color: #7b868e;
}

.link_section a:hover {
    color: red;
    text-decoration: underline;
}


.link_section a:active {
    color: #000000;
    border-bottom: 3px solid #0000ff;
}
.link_section span {
    display: table-cell;
    vertical-align: middle;
}

.wrap_links {
    width: 998px;
    height: 60px;
    margin: 0 auto;
}

.wrap_links div {
        display: inline-block;
    }



/*News
    --------------------------*/
.news {
    margin-top: 70px;
}
.news_wrapper {
    width: 960px;
    color: #4f4f4f;
    margin: 0 auto;
    position: relative;

}


.head_link {
    display: block;
    font-size: 28px;
    color: #5086e0;
    margin-bottom: 13px;
}
.left_side {
    width: 700px;
    background-color: white;
}
.wrap_left {
    width: 636px; /*700-(32+32)*/
    margin: 0 auto;
    padding: 34px;

}

.underlink {
    font-size: 11px;
    margin-bottom: 47px;
    color: #7b868e;
}
.underlink a{
    color: #7b868e;
}
.first_p {
    font-size: 13px;
    margin-bottom: 47px;
    line-height: 1.5;
}

.second_p {

    font-size: 13px;
    margin-bottom: 47px;
    line-height: 1.5;
    font-style: italic;
}

.second_p span {

}

.third_p {
    font-size: 13px;
    margin-bottom: 57px;
    line-height: 1.5;
}





/*table*/
.table_wrap {
    position: relative;
        margin-bottom: 57px;
}
.table {
    font-size: 13px;
    width: 376px;
    border-top: 2px solid #000000;
    
}

tr {
    border-bottom: 1px solid #e8edf0;
}

td {
    padding: 10px;
}
.last_row {
    border: none;
}





.list {
    width: 200px;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}

.list li {
    margin-bottom: 12px;
}






.fourth_p {
    font-size: 13px;
    margin-bottom: 57px;
    line-height: 1.5;
}
.fifth_p {
    font-size: 13px;
    margin-bottom: 57px;
    line-height: 1.5;
}


.gallery {
    height: 521px;
    border: 1px solid #000000;
        padding-bottom: 20px;
}
.gallery_big_img {
    height: 463px;

}
.gallery_small_imgs {
    height: 198px;
    background-color: #f9f8e6;
}






/*Top news 
    ---------------------*/

.top_news {
    width: 240px;
    position: absolute;
    right: 0;
    top: 0;
}
.banner {
    height: 400px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    background-image: url(i/ad.jpg);
}
.banner a {
    display: block;
    height: 400px;
    width: 240px;

}




.top_news_read {
    position: relative;
    text-align: center;
    height: 36px;
    font-size: 15px;
    margin-bottom: 34px;
}
.top_news_read a{
    display:inline-block;
    color: #9ca5ab;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px dashed #7b868e;
}


.read {
    width: 86px;
    position: absolute;
    left: 10px;
}
.comments {
    position: absolute;
    left: 90px;
}




.decore_links {
	height: 36px;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: #ffffff;
    display: none;
}

.read:hover .decore_links {
    display: block;
}





.top_news a:hover{
    color: red;
}
.date_time {
    color: #7b868e;
    font-size: 10px;
}
.top_news_link {
    margin-bottom: 25px;
}

.top_news_link a{
    font-size: 13px;
    color: #5086e0;
}
.wrap_news_links {
    margin-bottom: 60px;
}



/*Links
    ----------------------------*/
.links {
    
}

.splitter {
    height: 3px;
    border: 1px solid #dfe4e8;
    margin-bottom: 25px;
}

.questions {
    margin-bottom: 70px;
}
.questions h1 {
    font-size: 19px;
    line-height: 1;
}

.questions p {
    font-size: 13px;
}

.label_section {

}
/*.inner {
     width: 79px;
    text-align: center;
      opacity: 0.8;
}*/
/*.rectangle {
    display: table-cell;
    vertical-align: middle;
    height: 31px;
    width: 79px;
    color: #ffffff;
    font-size: 11px;
    background-color: #000000;

    /*background: linear-gradient(to bottom, #ffffff, #000000);*/
    /*border-radius: 3px;
}

.triangle {
    width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 13px solid #000000;
    margin-left: 33px;
}*/
.label {
    width: 240px;
    height: 50px;
    display: table;
    vertical-align: middle;
    border-top: 1px dashed #d4dadf;
    cursor: pointer;

}




/*Tooltip for input radio*/
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 79px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 13px solid #000;
	border-top: 13px solid hsla(0, 0%, 20%, 0.9);
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}







.label span,input {

}

input:focus {
   background-color:  #0000ff;
}




.submit_answer {

    height: 70px;
    background-color: #edf3f6;
    text-align: center;
}

.submit_answer button {
    display: table-cell;
    width: 98px;
    height: 36px;
    background: linear-gradient(to bottom, #ffffff, #e6e9ec);
    /*Add the fallback !!!!*/
    border: 1px solid #d4dadf;
    border-radius: 5px;
    margin: 17px auto;
    cursor: default;
    
}










.new_cars {
    
}

.photo_view {
    position: relative;
    height: 222px;
    margin-bottom: 10px;
}
.photo_view h1 {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    width: 150px;
    line-height: 1;
    color: #000000;
    font-weight: 500
}

.wrap_battons {
    position: relative;
    height: 26px;
    margin-bottom: 10px;
}
.nav_buttons {
    width: 55px;
    position: absolute;
    right: 0;
    top: 0;

}
.button_rigth {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, #e6e9ec);
    font-weight: bold;
    cursor: default;

}

.button_left {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #e6e9ec);
    float: left;
    cursor: default;
}


.photo_view_img {
     margin-top: 10px;
 }

.new_cars_link {
    margin-bottom: 34px;
}
.new_cars_link a {
    font-size: 15px;
    color: #5086e0;
}

.bold_link {
    font-size: 15px;
    color: #5086e0;
    font-weight: bold;
}










/*Footer section*/
.footer {
    height: 200px;
    border: 1px solid #000000;
}